<a href="https://colab.research.google.com/github/jonnie763/DATA-602-Intro-to-Data-Analysis-and-Machine-Learning/blob/main/Rius_Jonathan_Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA 690 Homework 1 (50 points - Due on Monday, September 18, 2023 by 11:59 pm ET)

The output of this assignment for submission should be in PDF format **AND** .py or .ipynb.

The name of the file should be as follows:

    Lastname_Firstname_Homework1.pdf (example: Thomas_Sunela_Homework1.pdf)
   **AND**
   
    Lastname_Firstname_Homework1.ipynb (example: Thomas_Sunela_Assignment1.ipynb.
    
In short, you are submitting the python notebook as well as the pdf of that notebook.
Do **NOT** submit .html file, the system will give you an error.

    
**Incorrect file name will cost you points!<br>**

Instructions for converting a Jupyter Python notebook to PDF:
                                        
    Go to the menu and choose, File --> Download As --> html.
    Open that html file and print it to PDF.
    Submit the PDF file **NOT** the html file.

If you are using Google Colab, remember to review the PDF before submitting to ensure that all cells and answers are displayed in the PDF.

**Things to note:**

* Each cell should display an output
* Use only the basic Python concepts and methods taught thus far
* Well formatted output
* Use both Markdown and code comments in the Jupyter Notebook as needed

We covered a lot of the basics of the Python programming language. Mastering the fundamentals of Python will equip you for more advanced data analysis libraries like the *Pandas* library.

The goal of this activity is to start thinking about data analysis related tasks only using base Python. You will get practice using various data types, data structures, conditionals, and loops, and gain more experience writing functions.

## Clinical Trials - Sheep

While working for a pharmaceutical company that specializes in medications for agriculture you were assigned to work on a project assessing the effectiveness of a new drug designed to treat tapeworms in sheep. (If the sheep have tapeworms they can't get as fat as they need to be at slaughter and it is a waste of feed.)

To investigate you obtain a random sample of 25 worm-infected lambs of approximately the same age and health. Then you randomly divided the lambs into two groups. Twelve of the lambs were injected with the drug and the remaining thirteen were left untreated. After 6 months, the lambs were slaughtered and the number of worms were counted. You need to report to your boss whether the new medication has reduced the average number of tapeworms in the lambs. If so, how much?

<pre>
Untreated: 18, 43, 28, 50, 16, 32, 13, 35, 38, 33, 6, 7
Treated: 40, 54, 26, 63, 21, 37, 39, 23, 48, 58, 28, 39, 42
</pre>

### Exercise 1: (5 points)
<span  style="color:purple; font-size:16px">Create two new lists (*trt_sorted*, *untrt_sorted*) using the ```copy()``` method that are sorted versions of the original data. Print the output</span>

In [12]:
## Exercise Answer

Untreated =[18, 43, 28, 50, 16, 32, 13, 35, 38, 33, 6, 7]
Treated =[40, 54, 26, 63, 21, 37, 39, 23, 48, 58, 28, 39, 42]

x = Untreated.copy()

y= Treated.copy()

print("Untreated list is", x)

print("Treated list is",y)

Untreated list is [18, 43, 28, 50, 16, 32, 13, 35, 38, 33, 6, 7]
Treated list is [40, 54, 26, 63, 21, 37, 39, 23, 48, 58, 28, 39, 42]

### Exercise 2: (5 points)
<span  style="color:purple; font-size:16px">

- Create a function called `get_nlargest()` that takes in a list as input.


 - Apply this function to *treated* with num = 4 and *untreated* with the default
value.

 - Make sure output of both lists are shown. An optional parameter *num* indicating how many values to return but with a default value of 3.
  
- The function should then return the *num* largest values from the list.</span>

In [13]:
## Exercise Answer

def get_nlargest(nums):
   Max = 0
   for item in nums:
       if item > Max:
           Max=item
   return Max

print (get_nlargest(Treated))

print (get_nlargest(Untreated))

63
50

### Exercise 3: (5 points)
<span  style="color:purple; font-size:16px">Create a function to calculate the median of a list. The function should have a single parameter called *input_list* and return a single float. However, the calculation of the median is slightly different depending if there are an even number of elements in the list or not. If there are an odd number of elements in the list, then the median is the middle number. If there are an even number of elements in the list, then the median is the average of the middle two numbers. Use this function to calculate the median number of tapeworms for **each group** (*treated* and *untreated*). Display the output in a good format</span>

In [14]:
def median(data):

    sorted_data = sorted(data)
    data_len = len(sorted_data)
    middle = (data_len - 1) // 2
    if middle % 2:
        return sorted_data[middle]
    else:
        return (sorted_data[middle] + sorted_data[middle + 1]) / 2.0


med = median(Treated)

float_me= float(med)

print(float_me)

print("Type is",type(float_me))

med_2=median(Untreated)

float_med= float(med_2)

print(float_med)

print("Type is", type(float_med))

39.5
Type is <class 'float'>
28.0
Type is <class 'float'>

### Exercise 4: (10 points)
<span  style="color:purple; font-size:16px">Create a function called grader() that accepts a dictionary containing student names as keys and their midterm scores as values. It should return a dictionary with the students names as keys and a dictionary containing midterm score and letter grade as values. If score is above 90% then the grade is an A, if the score is between 80% and 90% then the grade is a B, if the score is between 70% and 80% then the grade is a C, if the score is between 60% and 70% then the grade is a D, if the score is below 60% then the grade is an F.

test_scores_dict = {'Cole':88, 'Neal':56, 'Mary':72, 'Sasha':89, 'John':91, 'Mike':87, 'Kayla': 62, 'Caylee':85}

Example return for first student:

test_scores_return = {'Cole':{'midterm':88, 'grade':'B}}</span>

In [88]:
lst = [[90,80,70,60], [10,81,50, 65]]
Lst_New=[]
New_list=list(map(lambda x:sum(x)/len(x), lst))
print(New_list)

for score in New_list:
    if score > 90:
        New_grade = 'A'
    elif score >= 80 and score <= 90:
        New_grade = 'B'
    elif score >= 70 and score <= 80:
        New_grade = 'C'
    elif score >= 60 and score <= 70:
        New_grade = 'D'
    else:
        New_grade = 'F'
    Lst_New.append(New_grade)

    print (New_grade)

[75.0, 51.5]
C
F

In [114]:
lst = [[90], [10],[87],[76]]

Lst_New=[]

New_list=list(map(lambda x:sum(x)/len(x), lst))

print(New_list)

for score in New_list:
    if score > 90:
        New_grade = 'Mid term grade is A'
    elif score >= 80 and score <= 90:
        New_grade = 'Mid term grade is B'
    elif score >= 70 and score <= 80:
        New_grade = 'Mid term grade is C'
    elif score >= 60 and score <= 70:
        New_grade = 'Mid term grade is D'
    else:
        New_grade = 'Mid term grade is F'

    Lst_New.append(New_grade)

    print (New_grade)

[90.0, 10.0, 87.0, 76.0]
Mid term grade is B
Mid term grade is F
Mid term grade is B
Mid term grade is C

In [71]:
print("Enter Marks Obtained in 5 Subjects: ")

total = 88

total_2= 87



if total >= 91 and total <= 100:
    print("Your Grade is A1")
elif  total_2>= 81 and total_2 < 91:
    print("Your Grade is A2")

Enter Marks Obtained in 5 Subjects:
Your Grade is A2

In [27]:
## Exercise Answer

test_scores_dict = {'Cole':88, 'Neal':56, 'Mary':72, 'Sasha':89, 'John':91, 'Mike':87, 'Kayla': 62, 'Caylee':85}

print("The original dictionary : " +  str(test_scores_dict))

key, val = test_scores_dict.items()[0]

The original dictionary : {'Cole': 88, 'Neal': 56, 'Mary': 72, 'Sasha': 89, 'John': 91, 'Mike': 87, 'Kayla': 62, 'Caylee': 85}

TypeError: ignored

In [29]:

# Python3 code to demonstrate working of
# Extracting key-value of dictionary in variables
# Using iter() + next()

# Initialize dictionary
test_dict = {'Cole':88, 'Neal':56, 'Mary':72, 'Sasha':89, 'John':91, 'Mike':87, 'Kayla': 62, 'Caylee':85}

# printing original dictionary
print("The original dictionary : " +  str(test_dict))

# Using iter() + next()
# Extracting key-value of dictionary in variables
key, val = next(iter(test_dict.items()))

# printing result
print("The 1st key of dictionary is : " + str(key))
print("The 1st value of dictionary is : " + str(val))

The original dictionary : {'Cole': 88, 'Neal': 56, 'Mary': 72, 'Sasha': 89, 'John': 91, 'Mike': 87, 'Kayla': 62, 'Caylee': 85}
The 1st key of dictionary is : Cole
The 1st value of dictionary is : 88

In [50]:
def grader():

    Grades= 99,88

    if Grades >=90:
        grade = "A"

    return(grade)

In [54]:
New_list=[70,89]

for score in New_list:
    if score > 90:
        New_grade = 'A'
    elif score >= 80 and score <= 90:
        New_grade = 'B'
    elif score >= 70 and score <= 80:
        New_grade = 'C'
    elif score >= 60 and score <= 70:
        New_grade = 'D'
    else:
        New_grade = 'F'

In [55]:
def grade_to_letter(grade):
    if grade > 90: return 'A'
    if grade > 80: return 'B'
    if grade > 70: return 'C'
    if grade > 60: return 'D'
    return 'F'

lst = [[90,80,70,60], [10,81,50, 65]]
Lst_New=[]

for student in lst:
    avg = sum(student) / len(student)
    print(avg)

    New_grade = grade_to_letter(avg)
    Lst_New.append(New_grade)

print(Lst_New)

75.0
51.5
['C', 'F']

In [61]:
def grade_to_letter(grade):

    if grade > 90: return 'A'
    if grade > 80: return 'B'
    if grade > 70: return 'C'
    if grade > 60: return 'D'

    return 'F'

lst = 90,80,70,60,10,81,50, 65

type(lst)

tuple

In [51]:
grader()

TypeError: ignored

In [7]:
tot = total1 + total2 + total3 + total4 + total4

avg = tot / 5

if avg >= 91 and avg <= 100:
    print("Your Grade is A")
elif avg >= 81 and avg < 91:
    print("Your Grade is B")
elif avg >= 71 and avg < 81:
    print("Your Grade is C")
elif avg >= 61 and avg < 71:
    print("Your Grade is D")
elif avg >= 51 and avg < 61:
    print("Your Grade is F")
else:
    print("Invalid Input!")

NameError: ignored

In [145]:
def fizz_buzz(n):
    # Declare a list of strings to store the results
    result = []

    # Loop from 1 to n (inclusive)
    for i in range(1, n + 1):

        # Check if i is divisible by both 3 and 5
        if i % 3 == 0 and i % 5 == 0:

            # Add "FizzBuzz" to the result list
            result.append("FizzBuzz")

        # Check if i is divisible by 3
        elif i % 3 == 0:

            # Add "Fizz" to the result list
            result.append("Fizz")

        # Check if i is divisible by 5
        elif i % 5 == 0:

            # Add "Buzz" to the result list
            result.append("Buzz")
        else:

            # Add the current number as a string to the
            # result list
            result.append(str(i))

    # Return the result list
    return result


# Driver code
n = 20

# Call the fizz_buzz function to get the result
result = fizz_buzz(n)

# Print the result
print(' '.join(result))

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz

In [147]:
fizz_buzz(11)

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11']

### Exercise 5: (10 points)
<span  style="color:purple; font-size:16px">Create a function ```fizz_buzz1``` that takes a single argument ```max_num```.

- Have this function loop over the values from 1 to ```max_num```
that prints each number from 1 to ```max_num``` on a new line.


 - For each multiple of 3, print "Fizz" instead of the number.


 - For each multiple of 5,
print "Buzz" instead of the number.

- For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number. What is the output of ```fizz_buzz1(11)```?
</span>

In [ ]:
for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

In [144]:
for fizzbuzz in range(11):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz

In [142]:
max_num= 1,2,3,4,5,6,7,8,9,10,11

def fizz_buzz1(max_num):

    for fizzbuzz in range(11):

        if fizzbuzz % 3==0 and fizzbuzz % 5==0:
            print("fizzbuzz")
            continue
        elif fizzbuzz % 3 == 0:
            print("fizz")
            continue
        elif fizzbuzz % 5 == 0:
            print("buzz")
            continue

    return

In [143]:
fizz_buzz1(max_num)

fizzbuzz
fizz
buzz
fizz
fizz
buzz

In [ ]:
## Exercise Answer
import random


def fizz_buzz1():

    for outer_i in range(10):
        for inner_i in range(10):
        x=random.randint(0,9)
            if x %3==0:
          print ("Fizz",end=" ")
            elif x %5==0:
            print ("Buzz",end=" ")
            elif x %5==0 and x %3==0 :
            print ("Butt",end=" ")
            else :
                print (x,end=" ")


        print("\n")

In [159]:
for outer_i in range(10): # This is similar to the code in previous solutions, modifications are made later on
     for inner_i in range(10):
        x=random.randint(0,9)
        if x %2==0: # This is similar to the code above however conditions need to met in order to provide a replacment of the odd numbers, an if and else statment is introduced, to seperate odds and evens
          print (x,end=" ")
        elif x %5==0:
            print ("Buzz",end=" ")
        elif x %5==0 and x %3==0 :
            print ("Butt",end=" ")
        else :
          print ("@",end=" ") # If odds replace with "@", conidtion 2


     print("\n")  # Dimensions are changed

8 @ 4 8 0 Buzz @ @ @ Buzz

6 8 @ 6 2 8 @ 0 2 8

@ @ 2 @ 4 4 2 Buzz 2 @

4 6 @ 2 @ @ 0 2 6 @

8 @ Buzz Buzz 6 0 6 0 @ 8

@ 4 @ @ 6 0 Buzz 6 4 0

4 4 0 Buzz @ 0 @ 0 0 4

4 @ Buzz @ 0 4 @ 4 8 Buzz

@ Buzz @ 0 @ 0 @ 0 2 2

6 0 Buzz @ @ @ Buzz 6 @ @

### Exercise 6: (15 points)
<span  style="color:purple; font-size:16px">Write a function `prop_long_names()` that takes in list of names `name_list` and calculates and returns the proportion of names in the list that are longer than 5 characters as a decimal. Use the name_list given below.</span>

In [97]:
## Exercise Answer
name_list = ['Mary', 'AnnMarie', 'Emma', 'Elizabeth', 'Minnie', 'Margaret', 'Sammie', 'Alice', 'Bertha', 'Sarah', 'Annie',
             'Clara', 'EllaSue', 'Florence', 'Cora', 'Martha', 'Laura', 'Nellie', 'Grace', 'Carrie']

In [98]:
def prop_long_names(name_list):

    more_than_five = [item for item in name_list if len(item) > 5]

    Letters=len(name_list)


    return(more_than_five)

In [104]:
prop_long_names(name_list)

AnnMarie is 8 .0 characters
Elizabeth is 9 .0 characters
Minnie is 6 .0 characters
Margaret is 8 .0 characters
Sammie is 6 .0 characters
Bertha is 6 .0 characters
EllaSue is 7 .0 characters
Florence is 8 .0 characters
Martha is  6 .0 characters
Nellie is 6 .0 characters

In [106]:
def prop_long_names(name_list):

    more_than_five = [item for item in name_list if len(item) > 5]

    Letters=len(name_list)

    print ("AnnMarie is" , len('AnnMarie'),".0 characters")

    print ("Elizabeth is" , len('Elizabeth'),".0 characters")

    print ("Minnie is" , len('Minnie'),".0 characters")

    print ("Margaret is" , len('Margaret'),".0 characters")

    print ('Sammie is' , len('Sammie'),".0 characters")

    print ('Bertha is' , len('Bertha'),".0 characters")

    print ('EllaSue is' , len('EllaSue'),".0 characters")

    print ('Florence is' , len('Florence'),".0 characters")

    print ( 'Martha is ' , len('Martha'),".0 characters")

    print ('Nellie is' , len('Nellie'),".0 characters")

    return

In [107]:
prop_long_names(name_list)

AnnMarie is 8 .0 characters
Elizabeth is 9 .0 characters
Minnie is 6 .0 characters
Margaret is 8 .0 characters
Sammie is 6 .0 characters
Bertha is 6 .0 characters
EllaSue is 7 .0 characters
Florence is 8 .0 characters
Martha is  6 .0 characters
Nellie is 6 .0 characters